@import url('https://fonts.googleapis.com/css?family=Roboto:400,500,700&display=swap');

.site-title{
    border-right: 0.1rem solid #8257e5;
    overflow: hidden;
    white-space: nowrap;
}

.type-animation {
    animation: blinkCursor 650ms steps(40) infinite normal, typing 4s steps(40) 1s normal both;
}

@keyframes typing{
    from {
        width: 0;
    }
    to {
        width: 99.8%;
    }
}

@keyframes blinkCursor{
    from {
        border-right-color: #8257e5;
    }
    to {
        border-right-color: transparent;
    }
}

body, h1, h2, h3, p, ul {
    padding: 0px;
    margin: 0px;
}

html {
    font-size: 18px;
}

body {
    font-family: Georgia, serif;
    color: #252525;
}

.menu {
    background: #252525;
    padding: 20px 0;
}

.menu-container {
    max-width: 960px;
    margin: 0 auto;
}

.menu-container::after, .menu-container::before {
    content: '';
    display: table;
    clear: both;
}

a.menu-logo {
    display: block;
    float: left;
    margin-left: 10px;
}

.menu-logo img{
    width: 80%;
    
}

.menu-nav {
    float: right;
    margin-right: 10px;
}

.menu-nav li {
    display: inline-block;
}

.menu-nav a {
    display: block;
    padding: 10px;
    text-decoration: none;
    color: whitesmoke;
    font-size: 1.125em;
}

.intro {
    background: url('../assets/img/background.jpeg') no-repeat center center;
    background-size: cover;
    padding: 150px 0;
    text-align: center;
    color: #fff;
}

.intro h1 {
    text-transform: uppercase;
    font-size: 3em;
}

.intro h1::after {
    content: '';
    display: block;
    width: 20px;
    height: 4px;
    background: #fff;
    margin: 10px auto;
}

.intro p {
    font-style: italic;
    font-size: 1.5em;
    font-weight: bold;
}

.sobre {
    padding: 60px 0;
}

.sobre-container {
    max-width: 960px;
    margin: 0 auto;
}

.sobre-container::after, .sobre-container::before {
    content: '';
    display: table;
    clear: both;
}

.sobre h2 {
    text-align: center;
    font-size: 2.25em;
    margin-bottom: 60px;
}

.sobre-item {
    width: 460px;
    float: left;
    margin: 0 10px;
}

.sobre-item img {
    display: block;
    max-width: 100%;
    width: 100%;
    height: 70%;
}

.sobre-item h3 {
    font-size: 2.25em;
    background: #8257e5;
    width: 220px;
    color: whitesmoke;
    font-style: italic;
    font-weight: normal;
    text-align: center;
    line-height: 1em;
    padding: 5px 0 10px 0;
    top: -25px;
    position: relative;
}

.sobre > p {
    font-size: 1.125em;
    line-height: 1.4em;
    font-style: italic;
    text-align: center;
    margin: 20px auto;
    max-width: 460px;
}

.produtos {
    background: #e7e4d8;
    padding: 60px 0;
    border-top: 3px solid  #d6d3c8;
    border-bottom: 3px solid  #d6d3c8;
}

.produtos-container {
    max-width: 960px;
    margin: 0 auto;
}

.produtos-container::before, .produtos-container::after {
    content: '';
    display: table;
    clear: both;
}

.produtos-item {
    width: 300px;
    float: left;
    margin: 0 10px 20px 10px;
}

.produtos-item h2 {
    text-align: center;
    font-size: 2.25em;
    margin-bottom: 20px;
}

.produtos-item h2::before {
    content: '';
    display: block;
    width: 100px;
    height: 100px;
    background: currentColor;
    border-radius: 50%;
    margin: 20px auto;
    border: 5px solid #e7e4d8;
    box-shadow: 0 0 0 10px currentColor;
}

h2.produtos-paulista::before {
    color: #000;
    background: url('../assets/img/github.svg') no-repeat;
    background-size: cover;
    background-position: center;
}

h2.produtos-carioca::before {
    color: #F44336;
    background: url('../assets/img/gmail.svg') no-repeat;
    background-size: 86%;
    background-position: center;
}

h2.produtos-mineiro::before {
    color: #0077B5;
    background: url('../assets/img/linkedin.svg') no-repeat;
    background-size: 75%;
    background-position: center;
}

.produtos-item p {
    font-size: 0.875em;
    line-height: 1.4em;
    font-family: Arial, Helvetica, sans-serif;
}

.produtos-btn {
    width: 180px;
    border: 3px solid #252525;
    color: #252525;
    text-decoration: none;
    display: block;
    font-size: 1.125em;
    font-weight: bold;
    text-transform: uppercase;
    text-align: center;
    padding: 15px 0;
    margin: 20px auto 0 auto;
}

.produtos-btn:hover {
    border-color: #e7e4d8;
    color: white;
    background-color: #1d1d1d;
    transition-duration: 0.5s;
}

.locais {
    max-width: 960px;
    margin: 0 auto;
    padding: 20px 0;
}

.locais-item {
    clear: both;
    margin: 60px auto;
}

.locais-item::after, .locais-item::before{
    display: table;
    content: '';
    clear: both;
}

.locais-item img {
    width: 460px;
    float: left;
    display: block;
    margin: 0 10px;
}

.locais-item > div {
    width: 460px;
    float: left;
    margin: 0 10px;
}

.locais-item h2 {
    font-size: 2.25em;
    margin-bottom: 20px;
}

.locais-item p {
    font-size: 1.125em;
    line-height: 1.4em;
    max-width: 320px;
    margin-bottom: 40px;
}

.locais-item a {
    font-size: 1.125em;
    text-transform: uppercase;
    text-decoration: none;
    border: 3px solid;
    color: #252525;
    padding: 10px 20px;
}

.github {
    width: 91%;
    height: 60px;
    background: #8257e5;
    border: 0;
    border-radius: 8px;
    color: #FFF;
    font-weight: 700;
    margin-top: 10px;
    display: inline-block;
    text-align: center;
    text-decoration: none;
    font-size: 16px;
    line-height: 60px;
} 
.github:hover {
    transition: 0.5s;
    background: #000;
    filter: brightness(90%);
}

.gmail {
    width: 91%;
    height: 60px;
    background: #8257e5;
    border: 0;
    border-radius: 8px;
    color: #FFF;
    font-weight: 700;
    margin-top: 10px;
    display: inline-block;
    text-align: center;
    text-decoration: none;
    font-size: 16px;
    line-height: 60px;
} 
.gmail:hover {
    transition: 0.5s;
    background: #F44336;
    filter: brightness(90%);
}

.linkedin {
    width: 91%;
    height: 60px;
    background: #8257e5;
    border: 0;
    border-radius: 8px;
    color: #FFF;
    font-weight: 700;
    margin-top: 10px;
    display: inline-block;
    text-align: center;
    text-decoration: none;
    font-size: 16px;
    line-height: 60px;
} 
.linkedin:hover {
    transition: 0.5s;
    background: #0077B5;
    filter: brightness(90%);
}